<div class="card login bg-gray-100" >
    <p-card header="Login to Exchange App" [style]="{ width: '400px' }" class="m-2">
        @for (message of messages(); track message.severity; let first = $first) {
            <p-message [severity]="message.severity" [ngClass]="{ 'mt-4': !first }" [closable]="message?.closable">
                {{ message.content }}
            </p-message>
        }
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="my-2">
                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-user"></i>
                    </p-inputgroup-addon>
                    <input pInputText formControlName="username" [invalid]="isInvalid('username')" fluid placeholder="Username" />
                </p-inputgroup>
                @if (isInvalid('username')) {
                    <p-message severity="error" size="small" variant="simple">Username is required.</p-message>
                }
            </div>
            <div class="my-2">
                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-lock"></i>
                    </p-inputgroup-addon>
                    <p-password formControlName="password" [invalid]="isInvalid('password')" [toggleMask]="true" [feedback]="false" fluid placeholder="Password" />
                </p-inputgroup>
                @if (isInvalid('password')) {
                    <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
                }
            </div>
            <p-button label="Login" icon="pi pi-sign-in" styleClass="w-full" type="submit" [disabled]="loginForm.invalid" [loading]="isLoading()"></p-button>
        </form>
    </p-card>
</div>