:root {
  --card-border: 1px solid var(--p-surface-200);
  --card-background: #ffffff;
}

:root[class="app-dark"] {
  --card-border: 1px solid transparent;
  --card-background: var(--p-surface-900);
}

* {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol;
}

body {
  margin: 0;
}

.card {
  background: var(--card-background);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.icon-en,
.icon-cz {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-en {
  background-image: url('../public/icons/en.png');
}

.icon-cz {
  background-image: url('../public/icons/cs.png');
}
